# Environment variables loaded by direnv.
# https://direnv.net/

export PIPENV_VENV_IN_PROJECT="./.venv"

# https://pipenv.pypa.io/en/latest/advanced/#working-with-platform-provided-python-components
export PIP_IGNORE_INSTALLED=1

# https://pipenv.pypa.io/en/latest/advanced/#changing-default-python-versions
export PIPENV_DEFAULT_PYTHON_VERSION=3.7
